@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800;
}

@layer base {
  li {
    position: relative;
  }
  li::before {
    content: '';
    position: absolute;
    background-color: #d1d5db;
    border-radius: 50%;
    width: 0.375em;
    height: 0.375em;
    top: calc(0.875em - 0.1875em);
    left: -1em;
  }
  li.unstyled::before {
    content: none;
  }
}
